*.iml
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/codeStyles
.DS_Store
/build
/captures
/gradle
gradlew
gradlew.bat
settings.gradle
gradle.properties
.externalNativeBuild
